<div class="window__wrapper">
  <div class="window__title">Add new product</div>
  <div class="window__content">
    <form>
      <label for="title" class="pec-style">Title</label>
      <input type="text" id="title">

      <label for="slogan" class="pec-style">Slogan</label>
      <input type="text" id="slogan">

      <label for="description">Description</label>
      <input type="text" id="description">

      <label for="price">Price</label>
      <input type="number" id="price">

      <label for="date"></label>
      <input type="date" id="date">

      <!--<div class="mdl-cell mdl-cell&#45;&#45;12-col mdl-cell&#45;&#45;12-col-tablet mdl-grid">-->

      <!--&lt;!&ndash; Container for the demo &ndash;&gt;-->
      <!--<div class="mdl-card mdl-shadow&#45;&#45;2dp mdl-cell mdl-cell&#45;&#45;12-col mdl-cell&#45;&#45;12-col-tablet mdl-cell&#45;&#45;12-col-desktop">-->
      <!--<div class="mdl-card__title mdl-color&#45;&#45;light-blue-600 mdl-color-text&#45;&#45;white">-->
      <!--<h2 class="mdl-card__title-text">Upload a file</h2>-->
      <!--</div>-->
      <!--<div class="mdl-card__supporting-text mdl-color-text&#45;&#45;grey-600" id="messagesDiv">-->
      <!--<p>Select a file below. When it is uploaded, a link will be displayed to the uploaded file.</p>-->
      <!--<h6>Choose File</h6>-->
      <!--<input type="file" id="file" name="file"/>-->
      <!--<h6>File URL:</h6>-->
      <!--<span id="linkbox"></span>-->
      <!--</div>-->
      <!--</div>-->
      <!--</div>-->
    </form>
  </div>
</div>

<!--<style>-->
  <!--label {-->
    <!--color: green;-->
  <!--}-->
<!--</style>-->
