:host {
  display: block;
  padding: 1em;
}

/*label {*/
  /*color: blue;*/
/*}*/

#title {
  color: orange;
}

.window__wrapper {
  box-shadow: 4px 4px 20px 2px rgba(0, 0, 0, 0.75);
}
.window__title {
  color: black;
  font-size: 1em;
  background: linear-gradient(to right, rgba(0, 0, 0, 0) 5%, rgba(0, 0, 0, 0.1) 25%, rgba(0, 0, 0, 0.2));
  padding: 0.5em;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
}
.window__content {
  background: linear-gradient(to right, rgba(0, 0, 0, 0.05) 50%, rgba(0, 0, 0, 0.2));
  padding: 0.5em;
}
